<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (error !== 'undefined') { %>
        <h5><%= error %></h5>
   <% } %>
    <form action="/auth/user.login" method="post">
        <input type="text" name="email" placeholder="email" value="fabio.drioli@gmail.com">
        <input type="password" name="password" placeholder="password" value="12345678" placeholder="Senha">
        <button type="submit">enviar</button>
    </form>
</body>
</html>