<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Form</title>
    </head>
    <body>
        <% if(typeof errors !== 'undefined'){ %>
            <% errors.forEach((error) => { %>
                <h5><%= error.texto %></h5>
            <% }) %>
        <%} %>
        <form action="/post.store" method="post" enctype="multipart/form-data">
            <p>Titulo</p>
            <input type="text" name="title">
            <p>Conteúdo</p>
            <select class="form-select" aria-label="Default select example">
              <% if(typeof categories !== 'undefined'){ %>
                <% categories.forEach(category => { %>
                    <option selected>Selecione uma categoria</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                <% }) %>
              <% }else{ %>
                <option selected>Nenhuma categoria cadastrada</option>
             <%}%>
            </select>
            <textarea class="form-control" id="summary-ckeditor" name="description"></textarea>
            <input type="file" name="image" >
            <button type="submit">Enviar</button>
        </form>
        <script src="//cdn.ckeditor.com/4.14.0/standard/ckeditor.js"></script>
        <script>
        CKEDITOR.replace( 'summary-ckeditor' );
        </script>
    </body>
</html>