<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <% if(typeof errors !== 'undefined'){ %>
        <% errors.forEach((error) => { %>
            <h5><%= error.texto %></h5>
        <% }) %>
    <%} %>
    <form action="/post.store" method="post" enctype="multipart/form-data">
        <p>Titulo</p>
        <input type="text" name="title">
        <p>Conteúdo</p>
        <textarea name="description" id="" cols="30" rows="10"></textarea>
        <input type="file" name="image" >
        <button type="submit">Enviar</button>
    </form>
</body>
</html>