<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
</head>
<body>
    <ul>
        <% if (message_sucess !== 'undefined') { %>
            <h5><%= message_sucess %></h5>
       <% } %>
        <% posts.forEach(post => { %>
            <li><%= post.title %></li>
            <a href="/post.delete/<%= post.id %>"><button>deletar</button> </a>
        <% }); %>     
    </ul>
</body>
</html>